html {
    font-family: Inter, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    font-size: 1rem;
}

h1{
    margin:2%;
    font-weight: 400;
}

h2, h3{
    margin:2%;
    font-weight: 400;
}

p {
    font-size: 1 rem;
    padding: 0;
    margin: 1%;
}

th{
    font-weight: 400;
}

#map {
    background-image: url("/assets/map_1429x1017.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    display:
}

#booking-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

#booking-form h1 {
    margin-bottom: 0;
    font-weight: normal;
}

#booking-form h2 {
    font-weight: normal;
}

#booking-form label {
    display: block;
}

#booking-form input {
    display: block;
}

#booking-form button {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

#confirmation {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    padding-top: 0px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}


.icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

#status-bar {
    display: flex;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.status {
    display: flex;
    flex-direction: row; 
    align-items: baseline;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;
}

#ongoing-rides {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25%;
    height: 40%;
    overflow: hidden;
}

#rides-list {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}


.ride {
    border: 1px solid black;
    margin-top: 1%;
    padding: 2%;
    width: 80%;
}

.destination {
    display: flex;
    flex-direction: row;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    height: 40%;
    bottom: 0;
    left: 0;
    width: 100%;
}

#available-rides {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    width: 80%;
    font-size: 1.5 rem;
     box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.driver-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.driver-table th {
    font-weight: normal;
    text-align: left;
    padding: 10px 14px;
}

.driver-table td {
   padding: 10px 14px;
}

.driver-table tbody tr td {
    border-bottom: 1px solid lightgray;
}

.driver-table tbody tr:last-child td {
    border-bottom: none;
}

#confirmation {
    width: 15%;
}