html {
    font-family: Inter, sans-serif;
}

body{
    display:grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
}

#map{
    background-image: url("/assets/map_1429x1017.png");
    background-repeat: no-repeat;
}

#confirmation {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    padding-top: 0px;
}

.icon {
    width: 18px;   
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.dot{
     width: 20px;
    height: 20px;
    background-color: rgb(136, 136, 136); 
    border-radius: 50%;
}